#navbar {
  height: 100px;
  background: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

#navbar > img {
  height: 120px;
  padding-right: .5rem;
}

#navbar > h1 {
  padding-left: .5rem;
  margin: 0;
  color: var(--yellow);
}


.App > *:not(:first-of-type) {
  padding: 6rem;
}

.App > *:nth-child(odd) {
  padding: 1rem 6rem;
}

.highlight {
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .desktop-only {
      display: none;
  }

  .App > *:not(:first-of-type) {
    padding: 6rem 2rem;
  }
  
  .App > *:nth-child(odd) {
    padding: 2rem;
  }

  #navbar {
    flex-direction: column;
  }
}