#root, #modal {
  --yellow: #ffd700;
  --dark-blue: #022c43;
  --blue: #053f5e;
  --light-blue: #115173;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffd700;
  color: white;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
