.slider img {
    height: 400px;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-558px * 5))}
}

.slider {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	overflow:hidden;
	position: relative;
    width: 100%;
    height: auto;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(558px * 10);
}

.slider .slide {
    height: 558px;
    width: 558px;
}
