.moobs {
    background: var(--dark-blue);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.moobs .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moobs > * {
    width: 45%;
}

.moobs .image {
    align-self: flex-end;
}

.moobs .image img {
    height: 250px;
}

.moobs .image:nth-child(even) {
    align-self: flex-start;
}

.moobs .highlight {
    color: var(--yellow);
}

@media only screen and (max-width: 768px) {
    .moobs {
        text-align: center;
        flex-direction: column;
    }

    .moobs .image img {
        height: 200px;
    }

    .moobs > * {
        width: 100%;
    }

    .moobs .image {
        align-self: center;
    }
    
}